@{
    ViewData["Title"] = "PizzaPazza";
}

<div class="text-center">
    
    @section SubTitle {
        <h1 class="mt-5">Benvenuti nella Home!</h1>
    }


    <section class="container">
        <div>
           <img src="~/img/pizzabanner.jpeg" alt="Banner Pizza 404"/>
        </div>
    </section>
</div>
